
#main {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    height: 100%;
    width: 320px;
    padding: 0;
    background: rgba( 240, 240, 240, 0.9);
    overflow: hidden;
}
.agenda-title {
    height: 60px;
    width: 320px;
    background: #1bdbae;
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.list-group-container {
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
}
.list-group-item {
    margin: 10px 0;
    overflow: hidden;
}
.active-border {
    border-style: solid;
    border-color: #1bdbae;
    border-width: 2px;
}
i:hover {
    cursor: pointer;
}
#doseButton {
    background: #42cd64;
}
#transcriptList {
    margin-top: 15px;
}
.btn {
    margin-top: 15px;
    color: white;
    font-size: 12px;
}
ul {
  list-style-type: none;
}
.action-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-success {
    background-color: #1bdbae;
    border-color: #1bdbae;
}
.btn-success:hover, .btn-success:focus {
    background-color: #169e7e;
    border-color: #169e7e;
}