* {
    --color: white;
}
.material-icons { 
  font-size: 24px; 
}
.btn {
    margin: 20px;
}
button {
    width: 200px;
    height: 50px;
}
.material-icons {
    margin-left: 20px;
    color: #939393;
}
.btn-warning {
    margin-left: 140px;
}
.fixed-top {
    height: 60px;
    background: #5089bb;
}
.fixed-bottom {
    height: 145px;
}
.my-body-content {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 60px 0px 145px 0px;
}
.right-nav-list {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:100;
  right:0;
  margin: 0px;
  z-index: 2000;
}
@media (max-width: 979px) {
  .body-content {
    padding-top: 0px;
  }
}
.btn:hover {
    cursor: pointer; 
}

