<md-sidenav-container class="h-100">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="navbar-brand"><img src="/assets/Ionetix-Logo-RGB.png" width="120px" alt=""></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="btn-flat text-white" md-button [mdMenuTriggerFor]="navbarMenu">Dose Request</button>
                    <md-menu #navbarMenu="mdMenu">
                        <button md-menu-item disabled>Schedule</button>
                        <button md-menu-item>Dose Request</button>
                        <button md-menu-item disabled>Invoicing</button>
                        <button md-menu-item disabled>Reports</button>
                    </md-menu>
                </li>
            </ul>
        </div>
        <i class="btn material-icons" (click)="menuButtonClicked()">more_vert</i>
    </nav>

    <md-sidenav align="end" #appointmentSidenav>
        <app-appointment-list (closed)="appointmentSidenav.close()"></app-appointment-list>
    </md-sidenav>
    <div class="my-body-content">
        <app-dose-request-graphic (scanSelected)="scanSelected($event)"></app-dose-request-graphic>
    </div>
    <!-- end container -->
    <nav class="navbar fixed-bottom navbar-light bg-faded ">
        <div class="fixed-bottom">
            <app-dose-request-appointment-bar [data]="selectedAppt"></app-dose-request-appointment-bar>
            <div class="button-group">
                <i class="btn material-icons" (click)="appointmentSidenav.open()">date_range</i>
                <i class="btn material-icons" (click)="chatClicked()">chat_bubble</i>
                <i class="btn material-icons" (click)="transcriptClicked()">list</i>
                <button type="button" class="btn" [ngClass]="(delayButtonState=='REDO')?'btn-danger':'btn-warning'" [disabled]="(delayButtonState=='NONE')"
                    (click)="delayClicked()">{{(delayButtonState=='REDO')?'REDO':'PAUSE'}}</button>
                <!-- <button type="button" class="btn btn-danger" [disabled]="!isRedoAvailable" (click)="redoClicked()">REDO</button> -->
                <button type="button" class="btn btn-dark-grey" [disabled]="!selectedScan._id" (click)="cancelClicked()">CANCEL</button>
            </div>
        </div>
    </nav>
</md-sidenav-container>