<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="bgcontainer">
    <div class="fabgroup btn-group-vertical btn-group-sm">
        <button type="button" class="btn btn-secondary bmd-btn-fab" style="margin-bottom: 10px " (click)="resetZoom()"><i class="material-icons ">my_location</i></button>
        <button type="button " class="btn btn-secondary bmd-btn-fab "><i class="material-icons " (click)="executeZoom(-0.1)">add</i></button>
        <button type="button " class="btn btn-secondary bmd-btn-fab "><i class="material-icons " (click)="executeZoom(0.1)">remove</i></button>
    </div>
</div>
<div #container class="container " style="background-color: #e1e1e1;width:100%;height:100%; ">
</div>