<div class="my-container">
  <!-- <div class="bgcontainer">
    <div class="fabgroup btn-group-vertical btn-group-sm">
      <button type="button" class="btn btn-secondary bmd-btn-fab" style="margin-bottom: 10px " (click)="resetZoom()"><i class="material-icons ">my_location</i></button>
      <button type="button " class="btn btn-secondary bmd-btn-fab "><i class="material-icons " (click)="executeZoom(-0.1)">add</i></button>
      <button type="button " class="btn btn-secondary bmd-btn-fab "><i class="material-icons " (click)="executeZoom(0.1)">remove</i></button>
    </div>
  </div> -->
  <div #container class="graphic-container"></div>
</div>